<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
</head>
<body>
<form action="#" th:action="@{/order-create}" th:object="${order}" method="post">
    <label for="User">User</label>
    <input type="text" th:field="*{user}" id="User" placeholder="User ID">
    <label for="products">Product</label>
    <input type="text" th:field="*{products}" id="products" placeholder="Product">
    <label for="createOrder">Date</label>
    <input type="text" th:field="*{createOrder}" id="createOrder" placeholder="Date">
    <input type="submit" value="Create Order">
</form>
</body>
</html>