<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/main.css">

    <div class="container">
        <div id="block1">
            <form method="GET" th:action="@{/registration}">
                <button type="submit" class="link-button">Registration</button>
            </form>
        </div>
    </div>
</head>
<body>
<div class="container">
    <div id="block5">
        <strong>Email is not correct!</strong>
    </div>
</div>
</body>
</html>