<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="container">
        <div id="block1">
            <form method="GET" th:action="@{/orders}">
                <button type="submit" class="link-button">History of orders</button>
            </form>
        </div>
        <div id="block2">
            <form method="GET" th:action="@{/products}">
                <button type="submit" class="link-button">Products</button>
            </form>
        </div>
    </div>
</head>
<body>
<div class="container">
    <div id="block5">
        <strong>NO ACTIVE ORDERS FOUND</strong>
    </div>
</div>
</body>
</html>