<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
    <title>Shop</title>
</head>
<body>
<h3>Order</h3>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Products</th>
        <th>Date</th>
    </tr>
        <td th:text="${order.id}">Id</td>
        <td th:text="${order.user}">Name</td>
        <td th:text="${order.products}">Name</td>
        <td th:text="${order.date}">Date</td>
    </tr>
</table>
</body>
</html>