<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<h1>Orders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Products</th>
        <th>Date</th>
    </tr>
    <tr th:each="order:${orders}">
        <td th:text="${order.id}">Id</td>
        <td th:text="${order.user}">Name</td>
        <td th:text="${order.products}">Name</td>
        <td th:text="${order.createOrder}">Date</td>
    </tr>
</table>
</body>
</html>