<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
<h1>Orders</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Total cost</th>
        <th>Create Date</th>
        <th>Update Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order:${orders}">
        <td th:text="${order.id}">Id</td>
        <td th:text="${order.userId}">User Id</td>
        <td th:text="${order.totalCost}">Total</td>
        <td th:text="${order.orderCreationDate}">Create date</td>
        <td th:text="${order.orderUpdateDate}">Update date</td>
        <td th:text="${order.status}">Status</td>
        <td><a th:href="@{/products}">Products</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>