<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>
    <td>
        <form method="GET" th:action="@{/orders}">
            <button type="submit" class="link-button">Orders</button>
        </form>
        <form method="GET" th:action="@{/products}">
            <button type="submit" class="link-button">Products</button>
        </form>
    </td>
</head>
<body>
<h2>Products Order</h2>
<table>
    <thead>
    <tr>
        <th>TITLE</th>
        <th>COUNT</th>
        <th>SUM</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="orderProduct:${productsOrder}">
        <td th:text="${orderProduct.titleProduct}">Title</td>
        <td th:text="${orderProduct.count}">Count</td>
        <td th:text="${orderProduct.sum}">Sum</td>
        <td>
            <form th:if = '${orderProduct.orderStatus.toString() == "NEW"}' th:object="${orderProduct}"
                  th:action="@{/delete-product/{order_id}/{product_id}(order_id=${orderProduct.orderId},(product_id=${orderProduct.productId}))}" th:method="delete">
                <button type="submit" name="submit" value="value" class="link-button">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>