<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="container">
        <div id="block1">
            <form method="GET" th:action="@{/new-orders}">
                <button type="submit" class="link-button">Order</button>
            </form>
        </div>
        <div id="block2">
            <form method="GET" th:action="@{/products}">
                <button type="submit" class="link-button">Products</button>
            </form>
        </div>
    </div>
</head>
<body>
<h2>Products Order</h2>
<table>
    <thead>
    <tr>
        <th>TITLE</th>
        <th>COUNT</th>
        <th>PRICE</th>
        <th>SUM</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderProduct:${productsOrder}">
        <td th:text="${orderProduct.titleProduct}">Title</td>
        <td th:text="${orderProduct.count}">Count</td>
        <td th:text="${orderProduct.price}">Price</td>
        <td th:text="${orderProduct.sum}">Sum</td>
        <td>
            <form th:if='${orderProduct.orderStatus.toString() == "NEW"}' th:object="${orderProduct}"
                  th:action="@{/delete-product/{order_id}/{product_id}(order_id=${orderProduct.orderId},(product_id=${orderProduct.productId}))}"
                  th:method="delete">
                <button type="submit" name="submit" value="value" class="link-button">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="container">
    <div id="block3">
        <div class="name"><b>TOTAL SUM :</b>
            <td th:text="${order.totalCost}"></td>
        </div>
    </div>
    <div id="block4">
        <div>
        <form th:if='${order.status.toString() == "NEW"}' method="POST"
              th:action="@{/status-update/{order_id}(order_id=${order.orderId})}">
            <button type="submit" name="submit" value="value" class="link-button">Confirm</button>
        </form>
        </div>
    </div>
</div>
</body>
</html>