<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>
<body>
<h2>Products Order</h2>
<td><form method="GET" th:action="@{/orders}">
    <button type="submit"  class="link-button">Orders</button></form>

    <form method="GET" th:action="@{/products}">
        <button type="submit"  class="link-button">All products</button></form></td>
<table>
    <thead>
    <tr>
        <th>TITLE</th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${productsOrder}">
        <td th:text="${product.title}" >Name</td>
        <td th:text="${product.price}">Price</td>
    </tr>
    </form></td>
    </tbody>
</table>
</body>
</html>