<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop </title>
</head>
<body>
Registration
<div th:if="${message != null}">
    <b th:text="${message}"></b>
</div>
<form action="#" th:action="@{/registration}" th:object="${userDto}" method="post">
    <div><label> User Name : <input type="text" name="name" placeholder="User name"/> </label></div>
    <div><label> Password: <input type="password" name="password" placeholder="Password"/> </label></div>
    <div><label> Email : <input type="text" name="email" placeholder="some@some.com"/> </label></div>
    <div><input type="submit" value="Sign in"/></div>
</form>
</body>
</html>