<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="container">
        <div id="block1">
            <form method="GET" th:action="@{/new-orders}">
                <button type="submit" class="link-button">Order</button>
            </form>
        </div>
        <div id="block2">
            <form method="GET" th:action="@{/products}">
                <button type="submit" class="link-button">Products</button>
            </form>
        </div>
    </div>
</head>
<body>

<h1>User</h1>
<table>
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <td th:text="${user.name}">Name</td>
    <td th:text="${user.email}">Email</td>
    </tr>
</table>
</body>
</html>