<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/css/main.css}" rel="stylesheet" />
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.firstName}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td><a th:href="@{user-update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{user-delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<p><a href="/user-create">Create user</a></p>
</body>
</html>