<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div class="container">
        <div id="block1">
            <form method="GET" th:action="@{/products}">
                <button type="submit" class="link-button">Products</button>
            </form>
        </div>
        <div id="block2">
            <form method="GET" th:action="@{/user}">
                <button type="submit" class="link-button">Profile</button>
            </form>
        </div>
    </div>
    <title>Shop</title>
</head>
<body>
<h3>My order</h3>
<table>
    <tr>
        <th>Total cost</th>
        <th>Create Date</th>
        <th>Update Date</th>
        <th>Status</th>
    </tr>
    <td th:text="${order.totalCost}">Total</td>
    <td th:text="${order.orderCreationDate}">Create date</td>
    <td th:text="${order.orderUpdateDate}">Update date</td>
    <td th:text="${order.status}">Status</td>
    <td><a th:href="@{/products-order/{id}(id=${order.orderId})}">Order products</a></td>
    </tr>
</table>
</body>
</html>