table, td, th, strong {
  border-collapse: collapse;
  border: 3px solid #245488;
  margin-bottom: 1em;
}

td, th {
  padding: 10px 20px;
  text-align: center;
}
.container {
  display: flex;
}

#block1, #block2 {
   margin-right: 4px;
}
#block3, #block4 {
   margin-right: 260px;
   margin-top: 20px;
}
#block5 {
    margin-right: 260px;
       margin-top: 20px;
}

